[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.101.0"
uvicorn = "*"
motor = "*"
openai = "*"
jupyterlab = "*"
pypdf = "*"
tiktoken = "*"
faiss-cpu = "*"
google-cloud-bigquery = "*"
llama-index = "==0.7.19"
nltk = "*"
chardet = "*"
langchain = {extras = ["llms"], version = "==0.0.253"}
numpy = "==1.23"

[dev-packages]

[requires]
python_version = "3.11"
